

h1 {
    color:#1f1246 ;
} 

h2 {
    color: '#7659f1';
    font-family: monospace

}

.plus-card {
    background: linear-gradient(#1f1246, #1f1246) padding-box,
    linear-gradient(145deg, transparent 2vh, #7659f1, #35e9bc) border-box;
  border: 5px solid transparent;
  border-radius: 20px;
}

.card {
 
    border-radius: 20px;
}

.button-view {
    background-color: #7659f1;
    color: aliceblue;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-btn.ant-btn-circle.ant-btn {
    background-color: #D04848;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-btn.ant-btn-icon-only .anticon {
    color: aliceblue;
}

